@import url(utilidades/variaveis.css);

/* reset */

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    text-decoration: none;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

ul,
li {
    list-style: none;
}

/* Cursor personalizado */
html {
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=10190), auto;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--verde-neutro);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--azul-escuro-A);
}
