.Button-padrão-Az-escuro {
    color: var(--verde-padrao);
    background-color: var(--azul-escuro-A);
    padding: 24px;
    border-radius: 24px;
    max-width: 300px;
    text-align: center;
}

.Button-padrão-Az-escuro:hover {
    color: var(--azul-escuro-A);
    background-color: var(--verde-padrao);
    transition: .3s;
}

.bold {
    font-weight: bold;
}