@import url(utilidades/variaveis.css);

.icons {
    display: flex;
    flex-direction: column;
}

.cadastro {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}

.preencher {
    display: flex;
    flex-direction: column;
}

body {
    background-color: rgb(255, 255, 255);
}

#logo {
    height: 100px;
}

ul {
    padding-inline-start: 0px;
}

.preenchimento {
    display: flexbox;
    border-radius: 10px;
    border-color: var(--azul-escuro-A);
    border-style: solid;
    border-width: 0.15em;
    padding: 5px 10px;
    width: 400px;
    height: 30px;
    color: var(--azul-escuro-A);
    font-family: lexend deca;
    font-size: 20px;
}

.icon {
    font-size: larger;
    color:var(--azul-escuro-A);
    margin-right: 5px;
}

#i-user {
    margin-top: 31px;
}

#i-email {
    margin-top: 47px;
}

#i-cg {
    margin-top: 45px;
}

#i-senha {
    margin-top: 44px;
}

#botao-cadastrar {
    background-color:var(--azul-escuro-A) ;
    color: var(--verde-padrao);
    margin-top: 50px;
    border-radius: 7px;
    height: 60px;
    font-family: lexend deca;
    font-weight: 600;
    font-size: larger;
    width: 450px;
    transition: all 0.3s;
    justify-content: center;
    align-self: center;
}

#botao-cadastrar:hover {
    background-color: var(--verde-padrao);
    color: var(--azul-escuro-A);
    border: none;
    cursor: pointer;
}

#p-crie {
    margin-bottom: 10px;
    font-family: lexend deca;
    font-size: 20px;
    color: #a2a2a2;
}

#a-login {
    color: var(--azul-escuro-A);
    text-decoration: none;
}

#a-login:hover{
    color: var(--verde-neutro);
    text-decoration: underline;
}

#a-login:hover {
    text-decoration: underline;
}

#p-login {
    font-family: lexend deca;
    font-size: 20px;
    text-align: center;
}

.item {
    margin: 20px 2px 2px 2px;
}

.the-icons {
    display: flex;
    flex-direction: column;
}

.the-items {
    display: flex;
    flex-direction: column;
}

.cont {
    display: flex;
}