/* Importação de variáveis */
@import url(utilidades/variaveis.css);

/* RESET GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos Gerais */
body {
    background: #ffff;
    font-family: 'Lexend Deca', sans-serif;
    -webkit-font-smoothing: antialiased !important;
}

li {
    list-style: none;
}

/* Cursor personalizado */
html {
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=10190), auto;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--verde-neutro);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--azul-escuro-A);
}

/* ===== Cabeçalho ===== */
header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
}

#User_profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--verde);
}

.user-profile-link {
    text-decoration: none;
    color: black;
}

#logo_header {
    max-width: 100px;
    max-height: 100px;
}

/* ===== Seção Principal ===== */
.main {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 24px;
}

/* ===== Novo Post ===== */
div.newPost {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 50px 0;
    padding: 25px;
    background-color: transparent;
    border: 3px #011214 solid;
    box-shadow: 5px 5px 0px black;
    border-radius: 30px;
}

div.newPost div.infoUser {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.newPost div.infoUser div.imgUser img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

div.newPost div.infoUser strong {
    font-size: 16px;
    margin-left: 10px;
    color: #011214;
    font-weight: 700;
}

div.newPost form.formPost {
    display: flex;
    flex-direction: column;
    width: 100%;
}

div.newPost form.formPost textarea {
    height: 90px;
    margin: 15px;
    resize: none;
    outline: none;
    border: none;
    color: #868686;
    width: 100%;
    font-family: 'Lexend Deca';
    font-size: 14px;
}

div.newPost form.formPost div.iconsAndButton {
    display: flex;
    justify-content: flex-end;
}

div.newPost form.formPost div.iconsAndButton div.icons button {
    outline: none;
    margin-right: 15px;
    border: 0;
    background-color: #fff;
    cursor: pointer;
}

div.newPost form.formPost div.iconsAndButton button.btnSubmitForm {
    background-color: #7ec543;
    color: #011214;
    font-weight: bold;
    font-family: 'Lexend Deca';
    text-transform: uppercase;
    font-size: 14px;
    padding: 8px 60px;
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 5px 5px 0px black;
    transition: background 0.2s;
}

div.newPost form.formPost div.iconsAndButton button.btnSubmitForm:hover {
    background: #011214;
    color: #7ec543;
    box-shadow: 5px 5px 0px #7ec543;
}

/* ===== Posts ===== */
ul.posts li.post {
    margin-bottom: 50px;
    width: 100%;
    background-color: white;
    border-radius: 30px;
    padding: 25px;
    box-shadow: 1px 0 3px #0000004d;
    transition: 0.2s;
}

ul.posts li.post:hover {
    background-color: #f9f9f9;
}

ul.posts li.post div.infoUserPost div.imgUserPost img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

ul.posts li.post div.infoUserPost {
    width: fit-content;
    display: flex;
    align-items: center;
    cursor: pointer;
}

ul.posts li.post div.infoUserPost div.nameAndHour > strong {
    color: #032f37;
}

ul.posts li.post div.infoUserPost div.nameAndHour > p {
    color: #d1d1d1;
    font-size: 12px;
}

#userNick {
    color: #b1b1b1;
    font-size: 14px;
}

ul.posts li.post div.infoUserPost div.nameAndHour {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: 10px;
}

ul.posts li.post > p {
    width: 100%;
    margin: 20px 0;
    font-size: 14px;
    overflow-wrap: break-word;
}

/* ===== Botões de Ação nos Posts ===== */
ul.posts li.post div.actionBtnPost {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 24px;
}

div.actionBtnPost_like_comment {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
}

div.content_metric {
    display: flex;
    gap: 2px;
    cursor: pointer;
}

button.filesPost {
    border: none;
    background-color: transparent;
    font-size: large;
    cursor: pointer;
}

.ph-fill.ph-heart:before {
    color: #7ec543;
}

/* ===== Modal Hambúrguer ===== */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 20px 0 0 20px;
}

#hamburguerIcon {
    cursor: pointer;
    background: none;
    border: none;
}

.modal-content {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.381);

}

/* ===== Informações do Usuário no Modal ===== */
.user-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.user-info img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

#userNameModal {
    font-size: 20px;
    font-weight: 500;
    color: #011214;
    font-family: 'Lexend Deca';
}

#userNickModal {
    font-size: 14px;
    font-weight: 400;
    color: gray;
    font-family: 'Lexend Deca';
    padding-bottom: 12px;
}

.dois button {
    background-color: #011214;
    color: white;
    border: none;
    padding: 7px 14px;
    font-family: 'Lexend Deca';
    font-size: 12px;
    border-radius: 15px;
    transition: all 0.2s;
    margin-top: 12px;
    cursor: pointer;
}

.dois button:hover {
    background-color: #7ec543;
    color: #011214;
}

#closeModalBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: 'Lexend Deca';
}

#closeModalBtn:hover svg path {
    fill: var(--vermelho);
}

/* ===== Botão de Sair ===== */
.sair {
    background-color: var(--vermelho);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Lexend Deca';
    border: 1px solid var(--vermelho);
    transition: .3s;
}

.sair:hover {
    background-color: white;
    color: var(--vermelho);
}


/* Estilos para o botão flutuante */
.botao-flutuante {
    position: fixed;
    bottom: 70px;
    right: 70px;
    background-color: #7ec543;
    box-shadow: 5px 5px 0px black;
    height: 100px;
    width: 100px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s;
}

.botao-flutuante:hover {
    background-color: var(--verde-neutro);
}

/* modal novo post*/
.modalDois {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-conteudo {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    width: 600px;

}

.modal-conteudo h2 {
    font-size: px;
    color: #011214;
}

.fechar-modal {
    float: right;
    font-size: 24px;
    cursor: pointer;
}

.fechar-modal:hover {
    color: var(--vermelho);
}


.modal-conteudo input, .modal-conteudo textarea {
    width: 100%;
    resize: none;
    height: 350px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 3px solid #011214;
    border-radius: 10px;
    font-family: Lexend Deca;
}

.modal-conteudo button {
    width: 100%;
    padding: 10px;
    background-color: #7ec543;
    color: #011214;
    font-weight: bold;
    font-family: 'Lexend Deca';
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s;
}

.modal-conteudo button:hover {
    background-color: #011214;
    color: #7ec543;
}

.bold{
    color: var(--vermelho);
}

/* Animações de carregamento */
#imgUserPost {
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: linear-gradient(to right top, gray, rgb(202, 202, 202));
}

#nameAndHour {  
    width: 20vw;
    height: 25px;
    border-radius: 32px;
    background: linear-gradient(to right top, gray, rgb(202, 202, 202));
}

.content_post_loading {
    width: 80%;
    height: 15px;
    border-radius: 32px;
    background: linear-gradient(to right top, gray, rgb(202, 202, 202));
    margin: 10px 0px;
}

@media screen and (max-width: 950px) {
    .botao-flutuante {
        display: none;
    }
}

.me_user_perfil {
    text-decoration: none;
}

#modal_admin {
    display: flex;
    align-items: center;
    border-radius: 12px;
    padding: 3px;
}

#modal_admin h2 {
    font-size: 16px;
    padding: 12px;
    color: var(--verde-padrao);
}

#text_adm_on {
    display: none;
}

::selection {
    background-color: var(--verde-padrao); /* Cor de fundo da seleção */
    color: var(--azul-escuro-A); /* Cor do texto selecionado */
}

/* Seção de comentários */
#commentsSection {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.post-citado{
    border: solid 3px black;
    border-radius: 30px;
}

#backToFeed {
    background: none;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}

#commentsSection .post {
    padding: 40px;
    width: 770px;

}

.botao-post{
    display: flex;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

.infoUserPost {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.imgUserPost img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.nameAndHour {
    font-size: 14px;
    color: #333;
}

.content_post_loading {
    background-color: #eee;
    border-radius: 5px;
    height: 10px;
    margin: 5px 0;
}

.actionBtnPost {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.actionBtnPost .content_metric {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* Lista de comentários */
#commentsList {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

#commentsList li {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-bottom: 10px;
    background: white;
    border-radius: 20px;
    border: 2px solid #d9d9d9;
}

#commentsList li img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

#commentsList li strong {
    display: block;
    font-size: 14px;
}

#commentsList li p {
    margin: 0;
    font-size: 12px;
}

/* Formulário de novo comentário */
#commentForm {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

#newComment {
    flex: 1;
    padding: 15px;
    border-radius: 15px;
    border: 3px solid black;
    resize: none;
    font-family: 'Lexend Deca';
}

#commentForm button {
    background-color: #7ec543;
    color: #011214;
    font-weight: bold;
    font-family: 'Lexend Deca';
    text-transform: uppercase;
    font-size: 14px;
    padding: 8px 58px;
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 5px 5px 0px black;
    transition: background 0.2s;
}

.resto{
    width: 770px;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}