/* All */
ul{
    padding-left: 0;
    list-style: none;
    display: flex;
    gap: 57px;
    
}

.container{
    width: 100%;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    
}

@font-face {
    font-family: GilroyEB;
    src: url(../assets/fonts/Gilroy-ExtraBold.otf);
  }

@font-face {
    font-family: Gilroy;
    src: url(../assets/fonts/Gilroy-Light.otf);
  }

/* Header */
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px 100px 70px;
    

}

.header-nav a{
    text-decoration: none;
    color: #011214;
    font-size: 14px;
    font-family: Lexend Deca;
    font-weight: 600;
}

 a:hover{
    color: #025648;
    transform: scale(1.5);
}

/* SECTION 1 - CADASTRO*/

.section1{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-items: center;
    margin-bottom: 400px;
}

.cadastro h1{
    font-family: GilroyEB;
    font-size: xxx-large;
    color: #011214;
    transition: all 0.3s;
}

.cadastro h1:hover{
    color: #7EC543;
}

.cadastro span{
    color: #6B0000;
}

.cadastro p{
    font-family: Lexend Deca;
    font-size: 14px;
    max-width: 60%;
    margin-bottom: 15px;
    
}

.cadastro button{
    padding: 20px 50px;
    color: #7EC543;
    background-color: #011214;
    border: none;
    border-radius: 20px;
    font-family: Lexend Deca;
    transition: all 0.3s;
}

.cadastro button:hover{
    transform: scale(1.02);
    color: #011214;
    background-color: #7EC543;
}

/* SECTION 1 - LOGIN*/

.login{
    display: grid;
    background-color: #011214;
    padding: 75px 60px;
    border-radius: 20px;
}

.login label{
    font-family: Lexend Deca;
    font-weight: 400;
    font-size: 12px;
    color: white;
}

.login input{
    border-radius: 5px;
    border: none;
    width: 260px;
    margin-bottom: 30px;
    font-family: Lexend Deca;
    font-size: 12px;
    padding: 5px;
}

.login input:hover, input:focus{
    outline: none;
}

.login button{
    font-family: GilroyEB;
    font-size: 12px;
    font-weight: 400;

    color: #011214;
    background-color: #7EC543;
    border: none;
    border-radius: 5px;
    padding: 7px;
    transition: all 0.3s;
}

.login button a{
    text-decoration: none;
    color: #011214;
}

.login button:hover{
    transform: scale(1.02);
}

/* SECTION 2 */

.p-sec2{
    font-family:Gilroy;
    font-size: 30px;
    text-align: center;
    padding-bottom: 100px;
}

.img1{
    display: flex;
    margin-bottom: 60px;
}

.img1 p{
    color: #011214;
    font-family: Gilroy;
    font-size: 20px;
}

.img1 img{
    width: 300px;
}

.img2{
    display: flex;
    margin-bottom: 400px;
}

.img2 p{
    color: #011214;
    font-family: Gilroy;
    font-size: 20px;
    padding: 10px;
    text-align: right;
}

.img2 img{
    width: 400px;
}

#bold{
    font-family: GilroyEB;
}

/* SECTION 3 - INFO */
.section3{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    align-items: center;
}

.info h1{
    font-family: gilroyeb;
    font-size: 30px;
}

.info p{
    font-family: Lexend Deca;
    max-width: 50%;
}

.info button{
    padding: 20px 50px;
    background-color: #011214;
    color: #7EC543;
    border: none;
    border-radius: 15px;
    font-family: Lexend Deca;
    transition: all 0.3s;
}

.info a{
    text-decoration: none;
    color: #7EC543;
}

.info button:hover{
    transform: scale(1.02);
    color: #011214;
    background-color: #7EC543;
}

.info{
    display: grid;
    justify-items: start;
    gap: 20px;
}


/* SECTION 3 - ACCORDION*/
 .sanfona{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 500px;
 }

 .accordion{
    border-radius: 8px;
    padding: 12px;
    cursor: pointer;
 }

 .accordion-header{
    width: 100%;
    font-family: Lexend Deca;
    color: #011214;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
 }

.accordion-header span{
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Lezend Deca;
}

.accordion-body{
    color: #444;
    padding: 2px 0px;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity .3s;
}

.accordion-body.active{
    height: 100%;
    opacity: 1;
}

.accordion:has(.active) .arrow {
    transform: rotate(180deg);
}