* {
 margin: 0;
 padding: 0;
 width: 100%;
}

body {
    font-family: 'Lexend Deca';
}

div.background {
    width: 100%;
    height: 240px;
    position: relative;
    background-color: rgb(0, 0, 0);
}

div.foto-perfil-usuario {
    position: absolute;
    width: fit-content;
    top: 120px;
    left: 50px;
    z-index: 1;
}

img {
    border-radius: 100%;
    height: 250px;
    width: 250px;
    position: relative;
}

div.icon-writepen {
    position: absolute;
    left: 180px;
    bottom: 10px;
    z-index: 2;
    background-color: #7ec543;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-pen {
    background-color: #7ec543;
}

div.first-icon-header {
    position: absolute;
    top: 5px;
    left: 5px;
    width: fit-content;
}

div.second-icon-header {
    position: absolute;
    top: 180px;
    right: 10px;
    width: 40px;
    height: 40px;
    border: 2.5px #7ec543;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.nome-user-perfil {
    margin-top: 150px;
    margin-left: 60px;
    width: fit-content;
}

.icon-writepen:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.first-icon-header:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.second-icon-header:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/*/==//==//==//==//==//==//==//
//  FORMULÃRIO DE POSTAGENS  //
//==//==//==//==//==//==//==/*/

.post-perfil {
    display: flex;
    width: fit-content;
    justify-content: space-evenly;
}

li {
    list-style: none;
}

div.newPost {
    width: 400px;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 25px 25px;
    padding: 25px;

    background-color: transparent;
    border: 3px #011214 solid;
    border-radius: 30px;
}

div.newPost div.infoUser {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.newPost div.infoUser div.imgUser {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #011214;
}

div.newPost div.infoUser strong {
    font-size: 16px;
    margin-left: 10px;
    color:#011214;
    font-weight: 700;
}

div.newPost form.formPost {
    background-color: flex;
    flex-direction: column;
    width: 100%;
}

div.newPost form.formPost textarea{
    height: 90px;
    margin: 15px ;
    resize: none;
    outline: none;
    border: none;
    color: #868686;
}

form.formPost textarea{
    width: 100%;
    font-family: 'Lexend Deca';
    font-size: 14px;
}

div.newPost form.formPost div.iconsAndButton {
    display: flex;
    justify-content: flex-end;
}

div.newPost form.formPost div.iconsAndButton div.icons button {
    outline: none;
    border: 0;
    background-color: #fff;
    cursor: pointer;
}

.btnSubmitForm {
    background-color:#7EC543;
    color:#011214;
    font-weight: bold;
    font-family: Lexend Deca;
    text-transform: uppercase;
    font-size: 14px;

    padding: 8px 60px;
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.2s;
} 

.btnSubmitForm:hover{
    background:#011214;
    color: #7EC543;
}

ul.posts li.post{
    margin-top: 25px;
    margin-bottom: 50px;
    margin-left: 50px;
    width: 900px;
    background-color: white;
    border-radius:30px;
    padding: 25px;
    box-shadow: 1px 0 3px #0000004d;
}

ul.posts li.post div.infoUserPost div.imgUserPost{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #011214;
}

ul.posts li.post div.infoUserPost{
    display: flex;
    align-items: center;
}

ul.posts li.post div.infoUserPost div.nameAndHour >strong{
    color: #032F37;
}

ul.posts li.post div.infoUserPost div.nameAndHour >p{
    color: #d1d1d1;
    font-size: 12px;
}

ul.posts li.post div.infoUserPost div.nameAndHour{
    margin-left: 10px;
}
ul.posts li.post > p{
    width: 100%;
    margin: 20px 0px;
    font-size: 14px;
    overflow-wrap: break-word;
}

ul.posts li.post >p{
    width: 100%;
    margin: 20px 0px;
    font-size: 14px;
}

ul.posts li.post div.actionBtnPost{
    display: flex;
    align-items: center;
}

div.actionBtnPost{
    display: flex;
    justify-content: flex-end;
    gap: 30px;
        
}

button.filesPost{
    border: none;
    background-color: transparent;
    font-size: large;
    cursor: pointer;
}

/* modal Logout */
.container_modal_logout {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 32px; */

    background-color: white;
    border: 1px solid black;
    padding: 64px;
    border-radius: 24px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;

    max-width: 500px;
}

.container_modal_logout p {
    color: #7EC543;
    margin: 12px 0px 34px;
}

.text_logout {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text_logout h2 {
    font-size: 38px;
}

.text_logout h2 span{
    color: #6b0000;
}

.button_logout {
    display: flex;
    gap: 14px;
}

.button_logout button {
    height: 50px;
    font-size: 18px;
}

#button_logout_cancelar {
    background-color: #011214;
    color: #7EC543;
}

#button_logout_cancelar:hover {
    background-color: #7ec543;
    color: #011214;
}

/* Overlay para fundo escuro c/event */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none; 
    z-index: 2; 
}