* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100%;
}


/* Sidebar */
.sidebar {
    width: 250px;
    height: 100%;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.nav-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.nav-links a {
    text-decoration: none;
    color: #011214;
    font-family: Lexend Deca;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.3s;
}

.nav-links a:hover {
    background-color: #7EC543;
    color: #fff;
}

.main-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

header h1{
    font-family: Lexend Deca;
    font-size: 40px;
    color: #011214;
    margin-bottom: 5px;
    margin-top: 25px;
}

header p{
    font-family: Lexend Deca;
    font-size: 16px;
    color: #025648;
    margin-bottom: 20px;
}

.card{
    border: solid 4px #011214;
    border-radius: 20px;
    width: 320px;
    height: 275px;
    padding: 20px;
    
}

.info{
    display: flex;
    justify-content: space-between;
    color: #011214;
    font-family: Lexend Deca;
    font-size: 12px;
}

.dashboard-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.stats{
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-family: Lexend Deca;
    padding-top: 25%;
    font-weight: 600;
}

.chart-container{
    display: flex;
    align-items: center;
    margin-top: 85px;
}

.dados{
    margin-top: 35px;
}
