@import url(utilidades/fonts.css);
@import url(utilidades/global.css);
@import url(utilidades/utilidades.css);
@import url(utilidades/variaveis.css);

body {
  background-color: var(--bg-padrao);
  font-family: Lexend Deca;
  font-size: 20px;
}

/* Header */

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 94px;
}

header nav ul {
  display: flex;
  gap: 34px;
}

header nav ul li a {
  color: black;
}

header nav ul li a:hover {
  color: var(--verde-neutro);
  transition: all 0.3s;
}

/* SEC1 */
.container_sec1 {
  padding: 5em;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;

  gap: 50px;
}

.sec1_text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 30px;
}

.sec1_text h1 {
  line-height: 1.3em;
  font-size: var(--heading-G);
  color: var(--azul-escuro-A);
}

.red {
  color: var(--vermelho);
}

/* SEC2 */

* {
  margin: 0;
  padding: 0;
}

.primeiro {
  background-color: var(--azul-escuro-A);
  display: flex;
}

.segundo {
  background-color: var(--verde-padrao);
}

.terceiro {
  background-color: var(--verde-neutro);
}

.container {
  height: 700px;
  display: flex;
  flex-direction: row;
}

.item {
  flex-grow: 1;
  background-position: center;
  background-size: cover;
  position: relative;
  list-style: none; /*retira as marcações da lista*/
  transition: all 0.7s ease-in-out; /* início e fim lentos*/
}

.item:hover {
  flex-grow: 10;
}

.item a {
  width: 100%;
  height: 100%;
  display: flex; /*centralizar o texto*/
  position: absolute;
  text-decoration: none;
}

.text {
  font-size: 0; /*fica invisível quando o item estiver no estado normal*/
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  color: #fff;
}

.text p {
  font-family: Lexend Deca;
  margin-left: 100px;
  max-width: 40%;
}

.text h1 {
  font-family: Gilroy;
  font-size: var(--heading-G);
  text-transform: lowercase;
  margin: 100px;
}

.item:hover .text {
  /*passando o mouse em cima de algum item o text receberá as conf abaixo*/
  font-size: 20px;
  text-shadow: 2px 2px 12px black;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .text {
    font-size: 16px;
  }
}

/*SEC 3 */
.container_sec2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 4em;
  padding: 9em 2em;
}

.container_sec2 h2 {
  font-weight: 300;
  text-align: center;
}

.info {
  padding: 5em;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;

  gap: 50px;
}

button {
  background-color: var(--verde-padrao);
  border: none;
  text-decoration: none;
  padding: 20px;
  border-radius: 12px;
  margin-top: 40px;
  transition: all 0.3s;
}
button:hover {
  background-color: var(--azul-escuro-A);
  color: var(--verde-padrao);
}

/* Footer */
footer {
  background-color: var(--azul-escuro-A);
  padding: 1em;
}
.container_footer {
  max-width: 90vw;
  margin: auto;
}

.flex_links {
  display: flex;
  justify-content: center;
  padding: 4em;
  gap: 2em;
}

.flex_links div ul li a {
  color: white;
  font-size: 0.8em;
  font-weight: 300;
}

.flex_links div ul li a:hover {
  color: var(--verde-neutro);
  transition: 0.2s;
}

.container_footer hr {
  border: 0;
  border-top: 2px solid #032f37;
  width: 90vw;
  margin: 12px;
}

#copy {
  color: #464646;
  text-align: center;
}
