body {
    font-family: lexend deca;
}

.logo {
    height: 100px;
    align-self: flex-start;
    margin-left: -229px;
}

.container {
    display: grid;
    justify-items: center;
    justify-content: space-around;
}

input {
    font-family: lexend deca;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    border-style: solid;
    border-width: 0.15em;
    border-color: black;
    margin: 10px 0px;
    width: 400px;
    height: 30px;
}

.item {
    display: flex;
    align-items: center;
    align-content: flex-start;
}

i {
    font-size: larger;
    padding-right: 4px;
}

#input-texto {
    padding-bottom: 140px;
}

button {
    background-color: black;
    color: #7ec543;
    font-family: lexend deca;
    font-weight: 600;
    font-size: larger;
    border-style: none;
    border-radius: 6px;
    padding: 16px 18px;
    margin-top: 8px;
    width: 423.2px;
    transition: all 0.3s;
    margin-left: 18px;
}

button:hover {
    background-color: #7ec543;
    color: black;
    transform: scale(1.2em);
    cursor: pointer;
}

.sec {
    position: relative;
    top: 25%;
    transform: translate(0%, 10%);
}

.relate {
    color: #a2a2a2;
    max-width: 65%;
    font-size: 20px;
}

/* Cursor personalizado */
html {
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=154889), auto;
}
