body {
    font-family: lexend deca;
}

.logo {
    height: 100px;
    align-self: flex-start;
}

.container {
    display: grid;
    justify-items: start;
    justify-content: space-around;
}

input {
    font-family: lexend deca;  
    padding: 5px 10px;
    border-radius: 6px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    margin: 6px 0px;
    width: 460px;
}

.item {
    display: flex;
    align-items: center;
    align-content: flex-start;
    
}

i {
    padding-right: 4px;
}


#input-texto {
    padding-bottom: 80px;
}

button {
    background-color: black;
    color: #7ec543;
    font-family: lexend deca;
    font-weight: 600;
    border-style: none;
    border-radius: 5px;
    padding: 16px 18px;
    margin-top: 4px;
    width: 522px;
    transition: all 0.3s;
}

button:hover {
    background-color: #7ec543;
    color: black;
    transform: scale(1.2em);
    cursor: pointer;
}

.sec{
        position: relative;
        top: 50%;
        transform: translateY(50%) ;
    }

.relate{
    color: #a2a2a2;
}

/* Cursor personalizado */
html {
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=154889), auto;
}