@import url('utilidades/fonts.css');
@import url('utilidades/global.css');
@import url('utilidades/variaveis.css');

header {
    display: flex;
    justify-content: center;
}

h1,
h2,
p {
    font-family: Gilroy;
    text-align: center;
}

h1 {
    font-size: var(--heading-GG);
    margin-top: 25vh;
}

@media screen and (max-width: 700px) {
    h1 {
        font-size: var(--heading-M);
    }
}
