@import url(utilidades/variaveis.css);

.icons {
    display: flex;
    flex-direction: column;
}

.cadastro {
    /* position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    margin-top: 5%;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    
}

.preencher {
    display: flex;
    flex-direction: column;
}

body {
    background-color: rgb(255, 255, 255);
}

#logo {
    height: 100px;
    margin-left: 24.2px;
}

ul {
    padding-inline-start: 0px;
}

.preenchimento {
    display: flexbox;
    border-radius: 10px;
    border-color: var(--azul-escuro-A);
    border-style: solid;
    border-width: 0.15em;
    padding: 5px 10px;
    width: 400px;
    height: 30px;
    color: var(--azul-escuro-A);
    font-family: lexend deca;
    font-size: 20px;
}

#curso {
    width: 427px;
    height: 45px;
  }

.icon {
    font-size: larger;
    color: var(--azul-escuro-A);
    margin-right: 5px;
}

#i-user {
    margin-top: 31px;
}

#i-email {
    margin-top: 47px;
}

#i-cg {
    margin-top: 45px;
}

#i-senha {
    margin-top: 44px;
}

#i-nascimento {
    margin-top: 45px;
}

#i-curso {
    margin-top: 45px;
}

#botao-cadastrar {
    text-align: center;
    background-color: var(--azul-escuro-A);
    color: var(--verde-padrao);
    margin-top: 50px;
    margin-left: 24.2px;
    border-radius: 7px;
    border: none;
    height: 60px;
    font-family: lexend deca;
    font-weight: 600;
    font-size: larger;
    width: 428.8px;
    transition: all 0.3s;
    justify-content: center;
    align-self: center;
}

#botao-cadastrar:hover {
    background-color: var(--verde-padrao);
    color: var(--azul-escuro-A);
    border: none;
    cursor: pointer;
}

#p-crie {
    margin-bottom: 10px;
    margin-left: 24.2px;
    font-family: lexend deca;
    font-size: 20px;
    color: #a2a2a2;
}

#a-login {
    color: var(--verde-neutro);
    text-decoration: none;
}

#a-login:hover {
    text-decoration: underline;
}

#a-login:hover {
    text-decoration: underline;
}

#p-login {
    font-family: lexend deca;
    font-size: 20px;
    text-align: center;
    margin-left: 24.2px;
}

.item {
    margin: 20px 2px 2px 2px;
}

.the-icons {
    display: flex;
    flex-direction: column;
}

.the-items {
    display: flex;
    flex-direction: column;
}

.cont {
    display: flex;
}

/* Modal*/
.dark{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;

}

.modal {
    display: none;
    /* Esconde o modal por padrão */
    position: fixed;
    /* Mantém o modal fixo na tela */
    z-index: 1;
    /* Coloca o modal acima de outros conteúdos */
    left: 0;
    /* Alinha o modal à esquerda da tela */
    top: 0;
    width: 100%;
    /* Largura do modal ocupa 100% da tela */
    height: 100%;
    background-color: rgba(0, 0, 0, 0.733);

    
}

.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    background-color: #fefefe;
    /* margin: 7% auto;  CONFIGURAÇÃO ORIGINAL*/ 
    /* Margem superior de 15% e centraliza horizontalmente */
    padding: 50px;
    width: 700px;
    /* Largura do conteúdo do modal ocupa 80% da largura do modal */
    max-width: 700px;
    /* Largura máxima do conteúdo do modal */
    border-radius: 20px;
    display: flex;
    justify-content: center;

}

.close {
    color: #aaa;
    font-size: 32px;
    font-weight: 400;
}

.close:hover,
.close:focus {
    color: var(--azul-escuro-A);
    text-decoration: none;
    cursor: pointer;
}

/* Style for avatar selection */
.avatar-selection {
    text-align: left;
    font-family: 'Lexend Deca';
    font-size: 14px;
    color: var(--verde-neutro);
}

.avatar-selection h2 {
    font-size: 40px;
    margin: 0%;
    color: var(--azul-escuro-A);
}

.bold{
    color: var(--vermelho);
}


#salvar-avatar {
    margin-top: 20px;
    ;
    padding: 15px 20px;
    background-color: var(--azul-escuro-A);
    color: var(--verde-padrao);
    border: none;
    /* Remove a borda padrão do botão de salvar avatar */
    border-radius: 5px;
    /* Bordas arredondadas do botão de salvar avatar */
    cursor: pointer;
    font-family: Lexend Deca;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    transition: all 0.3s;
}

#button-r {
    display: flex;
    justify-content: flex-end;
}

#button-l {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#salvar-avatar:hover {
    background-color: var(--verde-padrao);
    color: var(--azul-escuro-A);
    font-family: 700;
}

.avatar-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.avatar-button img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin: 10px;
}

.avatar-button.selected img {
    transform: scale(1.1);
    border: 5px solid var(--azul-escuro-A);
}


/* Dark mode styles */
body.dark-mode {
    background-color: var(--azul-escuro-A);
    color: #ffffff;
}

body.dark-mode .preenchimento {
    background-color: #fff;
    border: solid 3px #fff;
    color: var(--azul-escuro-A);
}

body.dark-mode .icon i {
    color: var(--verde-padrao);
}

body.dark-mode #botao-cadastrar {
    background-color: var(--verde-padrao);
    color: var(--azul-escuro-A);
}

body.dark-mode #botao-cadastrar:hover {
    background-color: var(--verde-neutro);
}

.dark-mode-toggle {
    --input-focus: var(--azul-escuro-A);
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: #fff;
    --bg-color-alt: #666;
    --main-color: #323232;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 50px; /* Ajuste se necessário */
    height: 20px; /* Ajuste se necessário */
  }
  
  .dark-mode-switch {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg-color);
    transition: 0.3s;
  }
  
  .slider:before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    border: 2px solid var(--main-color);
    border-radius: 5px;
    left: -2px;
    bottom: 2px;
    background-color: var(--bg-color);
    box-shadow: 0 3px 0 var(--main-color);
    transition: 0.3s;
  }
  
  .dark-mode-switch:checked + .slider {
    background-color: var(--input-focus);
  }
  
  .dark-mode-switch:checked + .slider:before {
    transform: translateX(30px);
  }
  
@media screen and (max-width: 800px){
    body .modal-content {
        width: 580px !important;
    }

    body .avatar-button img {
        width: 90px !important;
        height: 90px !important;
    }
}