/* Importação de variáveis */
@import url(utilidades/variaveis.css);


::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--verde-neutro);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--azul-escuro-A);
}

* {
 margin: 0;
 padding: 0;
}

body {
    font-family: 'Lexend Deca';
}

div.background {
    width: 100%;
    height: 240px;
    position: relative;
    background-color: rgb(0, 0, 0);
}

div.foto-perfil-usuario {
    position: absolute;
    width: fit-content;
    top: 120px;
    left: 50px;
    z-index: 1;
}

img {
    border-radius: 100%;
    height: 250px;
    width: 250px;
    position: relative;
}

div.icon-writepen {
    position: absolute;
    left: 180px;
    bottom: 10px;
    z-index: 2;
    background-color: #7ec543;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-pen {
    background-color: #7ec543;
}

div.first-icon-header {
    position: absolute;
    top: 5px;
    left: 5px;
    width: fit-content;
}

div.second-icon-header {
    position: absolute;
    top: 180px;
    right: 10px;
    width: 30px;
    height: 30px;
    border: 3px #7ec543;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.icone-logout{
    font-weight: 900;
}

.nome-user-perfil {
    margin-top: 150px;
    margin-left: 60px;
    width: fit-content;
}

.icon-writepen:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.first-icon-header:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.second-icon-header:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/*/==//==//==//==//==//==//==//
//  FORMULÁRIO DE POSTAGENS  //
//==//==//==//==//==//==//==/*/

.post-perfil {
    display: flex;
    flex-wrap: wrap;
}

li {
    list-style: none;
}

div.newPost {
    width: 400px;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 25px 25px;
    padding: 25px;

    background-color: transparent;
    border: 3px #011214 solid;
    border-radius: 30px;
}

div.newPost div.infoUser {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.newPost div.infoUser div.imgUser {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #011214;
}

div.newPost div.infoUser strong {
    font-size: 16px;
    margin-left: 10px;
    color:#011214;
    font-weight: 700;
}

div.newPost form.formPost {
    background-color: flex;
    flex-direction: column;
    width: 100%;
}

div.newPost form.formPost textarea{
    height: 90px;
    margin: 15px ;
    resize: none;
    outline: none;
    border: none;
    color: #868686;
}

form.formPost textarea{
    width: 100%;
    font-family: 'Lexend Deca';
    font-size: 14px;
}

div.newPost form.formPost div.iconsAndButton {
    display: flex;
    justify-content: flex-end;
}

div.newPost form.formPost div.iconsAndButton div.icons button {
    outline: none;
    border: 0;
    background-color: #fff;
    cursor: pointer;
}

.btnSubmitForm {
    background-color:#7EC543;
    color:#011214;
    font-weight: bold;
    font-family: Lexend Deca;
    text-transform: uppercase;
    font-size: 14px;

    padding: 8px 60px;
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.2s;
} 

.btnSubmitForm:hover{
    background:#011214;
    color: #7EC543;
}

.posts {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 700px;
    width: 100%;
}

ul.posts li.post{
    margin: 20px;
    max-width: 700px;
    background-color: white;
    border-radius:30px;
    padding: 25px;
    box-shadow: 1px 0 3px #0000004d;
}

ul.posts li.post div.infoUserPost div.imgUserPost{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #011214;
}

ul.posts li.post div.infoUserPost{
    display: flex;
    align-items: center;
}

ul.posts li.post div.infoUserPost div.nameAndHour >strong{
    color: #032F37;
}

ul.posts li.post div.infoUserPost div.nameAndHour >p{
    color: #d1d1d1;
    font-size: 12px;
}

ul.posts li.post div.infoUserPost div.nameAndHour{
    margin-left: 10px;
}
ul.posts li.post > p{
    width: 100%;
    margin: 20px 0px;
    font-size: 14px;
    overflow-wrap: break-word;
}

ul.posts li.post >p{
    width: 100%;
    margin: 20px 0px;
    font-size: 14px;
}

div.actionBtnPost{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

button.filesPost{
    border: none;
    background-color: transparent;
    font-size: large;
    cursor: pointer;
}

/* modal Logout */
.container_modal_logout {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 32px; */

    background-color: white;
    border: 1px solid black;
    padding: 64px;
    border-radius: 24px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;

    max-width: 500px;
}

.container_modal_logout p {
    color: #7EC543;
    margin: 12px 0px 34px;
    text-align: center;
}

.text_logout {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text_logout h2 {
    font-size: 32px;
}

.text_logout h2 span{
    color: #6b0000;
}

.button_logout {
    display: flex;
    gap: 14px;
    justify-content: center;
}

.button_logout button {
    height: 50px;
    font-size: 18px;
}

#button_logout_cancelar {
    background-color: #011214;
    color: #7EC543;
}

#button_logout_cancelar:hover {
    background-color: #7ec543;
    color: #011214;
}

/* Modal excluir post */
#modal_ex_post {
    display: none;
}

#button_ex_post {
    background-color: var(--vermelho);
    color: white;
    border: 1px solid var(--vermelho);
    transition: .3s;

    
}

#button_ex_post:hover {
    background-color: var(--bg-padrao);
    color: var(--vermelho);
}

/* Overlay para fundo escuro c/event */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none; 
    z-index: 3; 
}


/* ===== Posts ===== */
ul.posts li.post {
    /* margin-bottom: 50px; 
    width: 100%;*/
    background-color: white;
    border-radius: 30px;
    padding: 25px;
    box-shadow: 1px 0 3px #0000004d;
    transition: 0.2s;
}

ul.posts li.post:hover {
    background-color: #f9f9f9;
}

ul.posts li.post div.infoUserPost div.imgUserPost img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

ul.posts li.post div.infoUserPost {
    width: fit-content;
    display: flex;
    align-items: center;
    cursor: pointer;
}

ul.posts li.post div.infoUserPost div.nameAndHour > strong {
    color: #032f37;
}

ul.posts li.post div.infoUserPost div.nameAndHour > p {
    color: #d1d1d1;
    font-size: 12px;
}

#userNick {
    color: #b1b1b1;
    font-size: 14px;
}

ul.posts li.post div.infoUserPost div.nameAndHour {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: 10px;
}

ul.posts li.post > p {
    width: 100%;
    margin: 20px 0;
    font-size: 14px;
    overflow-wrap: break-word;
}

/* ===== Botões de Ação nos Posts ===== */
div.content_metric {
    display: flex;
    gap: 2px;
    cursor: pointer;
}

button.filesPost {
    border: none;
    background-color: transparent;
    font-size: large;
    cursor: pointer;
}

.ph-fill.ph-heart:before {
    color: #7ec543;
}

/* ===== Modal Hambúrguer ===== */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px 0 0 20px;
}

#hamburguerIcon {
    background: none;
    border: none;
}

.modal-content {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 4;
    height: 100%;
    gap: 20px;
}

/* ===== Informações do Usuário no Modal ===== */
.user-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.user-info img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

#userNameModal {
    font-size: 20px;
    font-weight: 500;
    color: #011214;
    font-family: 'Lexend Deca';
}

#userNickModal {
    font-size: 14px;
    font-weight: 400;
    color: gray;
    font-family: 'Lexend Deca';
}

.dois button {
    background-color: #011214;
    color: white;
    border: none;
    padding: 5px 11px;
    font-family: 'Lexend Deca';
    font-size: 12px;
    border-radius: 15px;
    transition: all 0.2s;
}

.dois button:hover {
    background-color: #7ec543;
    color: #011214;
}

#closeModalBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: 'Lexend Deca';
}

#closeModalBtn:hover {
    color: var(--vermelho);
}

/* ===== Botão de Sair ===== */
.sair {
    background-color: var(--vermelho);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Lexend Deca';
}

.user-profile-link {
    text-decoration: none;
    color: black;
}

.content_interations_post {
    display: flex;
    gap: 24px;
    text-align: end;
}

.btn_delete_post {
    display: block;
    border: none;
    background-color: var(--vermelho);
    color: var(--bg-padrao);
    padding: 6px 12px;
    border-radius: 12px;
    font-weight: bold;
    border: 1px solid var(--vermelho);
    cursor: pointer;
    transition: .3s;
    font-family: Lexend Deca;
}

.btn_delete_post:hover {
    background-color: var(--bg-padrao);
    color: var(--vermelho);
}


/* Animações de carregamento */
#imgUserPost {
    position: absolute;
    z-index: 2;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: linear-gradient(to right top, gray, rgb(202, 202, 202));
}

#nameAndHour {  
    width: 10vw;
    height: 25px;
    border-radius: 32px;
    background: linear-gradient(to right top, gray, rgb(202, 202, 202));
}

@media screen and (max-width: 800px) {
    #nameAndHour {
        width: 20vw;
    }
    div.second-icon-header {
        top: 10px;
    }

    div.newPost{
        width: 100%;
    }

    .posts{
        max-width: 100%;
    }

    body .modal-content {
        width: 580px !important;
    }

    body .avatar-button img {
        width: 90px !important;
        height: 90px !important;
    }
}

.content_post_loading {
    width: 80%;
    height: 15px;
    border-radius: 32px;
    background: linear-gradient(to right top, gray, rgb(202, 202, 202));
    margin: 10px 0px;
}

::selection {
    background-color: var(--verde-padrao); 
    color: var(--azul-escuro-A); 
}

/* Modal de troca de Perfil */
.dark{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;

}

.modal {
    display: none;
    /* Esconde o modal por padrão */
    position: fixed;
    /* Mantém o modal fixo na tela */
    z-index: 3;
    /* Coloca o modal acima de outros conteúdos */
    left: 0;
    /* Alinha o modal à esquerda da tela */
    top: 0;
    width: 100%;
    height: fit-content;

    background-color: rgba(0, 0, 0, 0.733);
}

.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    background-color: #fefefe;
    /* margin: 7% auto;  CONFIGURAÇÃO ORIGINAL*/ 
    /* Margem superior de 15% e centraliza horizontalmente */
    padding: 50px;
    width: 700px;
    height: fit-content;
    /* Largura do conteúdo do modal ocupa 80% da largura do modal */
    max-width: 700px;
    /* Largura máxima do conteúdo do modal */
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.close {
    color: #aaa;
    font-size: 32px;
    font-weight: 400;
}

.close:hover,
.close:focus {
    color: var(--azul-escuro-A);
    text-decoration: none;
    cursor: pointer;
}

/* Style for avatar selection */
.avatar-selection {
    text-align: left;
    font-family: 'Lexend Deca';
    font-size: 14px;
    color: var(--verde-neutro);
}

.avatar-selection h2 {
    font-size: 40px;
    margin: 0%;
    color: var(--azul-escuro-A);
}

.bold{
    color: var(--vermelho);
}


#salvar-avatar {
    margin-top: 20px;
    ;
    padding: 15px 20px;
    background-color: var(--azul-escuro-A);
    color: var(--verde-padrao);
    border: none;
    /* Remove a borda padrão do botão de salvar avatar */
    border-radius: 5px;
    /* Bordas arredondadas do botão de salvar avatar */
    cursor: pointer;
    font-family: Lexend Deca;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    transition: all 0.3s;
}

#button-r {
    display: flex;
    justify-content: flex-end;
}

#button-l {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#salvar-avatar:hover {
    background-color: var(--verde-padrao);
    color: var(--azul-escuro-A);
    font-family: 700;
}

.avatar-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.avatar-button img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin: 10px;
}

.avatar-button.selected img {
    transform: scale(1.1);
    border: 5px solid var(--azul-escuro-A);
}

#adm_icon {
    display: none;
    font-size: 12px;
    background-color: var(--vermelho);
    color: white;
    padding: 4px 5px;
    border-radius: 8px;
}

.txt_name_user {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 12px;
}


body.dark-mode{
    background-color: #011214;
}

body.dark-mode .background{
    background-color:#032F37;
}

body.dark-mode ul.posts li.post{
    background-color: #032F37;
    color: white;
}

body.dark-mode #User_name{
    color: white;
}

body.dark-mode .p-perfil{
  color: #b1b1b1;
}

body.dark-mode .newPost{
    background-color: #032F37;
    
}

body.dark-mode #textarea{
    background-color: #032F37;
    color: white;
}

body.dark-mode .user-profile-link{
    color: white;
}

body.dark-mode::-webkit-scrollbar-thumb {
    background-color: var(--verde-padrao);
}

body.dark-mode .btn_delete_post{
    background-color: #011214;
    border: none;
}

body.dark-mode .imgUserPost img{
    border: dashed 3px #7ec543;
}

body.dark-mode #User_profile{
    border: dashed 3px #7ec543;
}

body.dark-mode .modal-content{
    background-color: #011214;
 }

body.dark-mode .avatar-selection h2{
    color: white;
}

body.dark-mode .avatar-selection p{
    color: #7EC543;
}
 
body.dark-mode .avatar-button.selected img {
    border: 5px solid var(--verde-padrao);
}

body.dark-mode #salvar-avatar {
    background-color: var(--verde-padrao);
    color: var(--azul-escuro-A);
}

body.dark-mode #salvar-avatar:hover {
    background-color: var(--verde-neutro);
    color: var(--verde-padrao);
}