@media screen and (max-width: 1280px){
    :root {
        /* Font size */
        --heading-GG: 61.6px;
        --heading-G:50px;
        --heading-M: 18px;
    }

    body {
        font-size: 17px;
    }

    .container_sec2 img {
        width: 500px;
    }
}

@media screen and (max-width: 800px) {

    .container_sec1 {
        justify-content: center;
    }

    .container_sec2 div{
        flex-wrap: wrap;
        text-align: center;
    }

    .container_sec2 img {
        margin: auto;
    }

    #sec2_div1 {
        flex-direction: column-reverse;
    }

    body {
        font-size: 15px;
    }
}